body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(74, 44, 240);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0;
}

.unit-selection {
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}
